<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t('.bank') %></th>
      <th scope="col"><%= t('.cash') %></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render @currencies %>
  </tbody>
</table>