<%= render 'shared/cardform' %>
<div style="width: 450px;" class="center">
  <%= render 'shared/second_buttons' %>
  <% if @categories.blank? %>
    <p class="text-center md-heading mt-5" >There are no categories yet!! <br/> Please add a category</p>
  <% else %>
    <h2 class="text-left md-heading"> Categories </h2>
    <ul class="cat-list md-heading">
    <%= render @categories %>
    </ul>
  <% end %>
</div>


